<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.BtvCommentMapper">
  <resultMap id="BaseResultMap" type="com.cdvcloud.rochecloud.domain.BtvComment">
    <id column="commentId" jdbcType="VARCHAR" property="commentId" />
    <result column="commentName" jdbcType="VARCHAR" property="commentName" />
    <result column="commentContent" jdbcType="VARCHAR" property="commentContent" />
    <result column="openId" jdbcType="VARCHAR" property="openId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createUserId" jdbcType="VARCHAR" property="createUserId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateUserId" jdbcType="VARCHAR" property="updateUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    commentId, commentName, commentContent, openId, status, createTime, createUserId, 
    updateTime, updateUserId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from btv_comment
    where commentId = #{commentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from btv_comment
    where commentId = #{commentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdvcloud.rochecloud.domain.BtvComment">
    insert into btv_comment (commentId, commentName, commentContent, 
      openId, status, createTime, 
      createUserId, updateTime, updateUserId
      )
    values (#{commentId,jdbcType=VARCHAR}, #{commentName,jdbcType=VARCHAR}, #{commentContent,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdvcloud.rochecloud.domain.BtvComment">
    insert into btv_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        commentId,
      </if>
      <if test="commentName != null">
        commentName,
      </if>
      <if test="commentContent != null">
        commentContent,
      </if>
      <if test="openId != null">
        openId,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createUserId != null">
        createUserId,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateUserId != null">
        updateUserId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="commentName != null">
        #{commentName,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null">
        #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdvcloud.rochecloud.domain.BtvComment">
    update btv_comment
    <set>
      <if test="commentName != null">
        commentName = #{commentName,jdbcType=VARCHAR},
      </if>
      <if test="commentContent != null">
        commentContent = #{commentContent,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        openId = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        updateUserId = #{updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where commentId = #{commentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdvcloud.rochecloud.domain.BtvComment">
    update btv_comment
    set commentName = #{commentName,jdbcType=VARCHAR},
      commentContent = #{commentContent,jdbcType=VARCHAR},
      openId = #{openId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=VARCHAR}
    where commentId = #{commentId,jdbcType=VARCHAR}
  </update>
</mapper>