<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.BtvDepartmentMapper">
  <resultMap id="BaseResultMap" type="com.cdvcloud.rochecloud.domain.BtvDepartment">
    <id column="departmentId" jdbcType="VARCHAR" property="departmentId" />
    <result column="departmentName" jdbcType="VARCHAR" property="departmentName" />
    <result column="regionName" jdbcType="VARCHAR" property="regionName" />
    <result column="departmentDescribe" jdbcType="VARCHAR" property="departmentDescribe" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createUserId" jdbcType="VARCHAR" property="createUserId" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateUserId" jdbcType="VARCHAR" property="updateUserId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    departmentId, departmentName, regionName, departmentDescribe, createTime, createUserId, 
    updateTime, updateUserId, userId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from btv_department
    where departmentId = #{departmentId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from btv_department
    where departmentId = #{departmentId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdvcloud.rochecloud.domain.BtvDepartment">
    insert into btv_department (departmentId, departmentName, regionName, 
      departmentDescribe, createTime, createUserId, 
      updateTime, updateUserId, userId
      )
    values (#{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{departmentDescribe,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createUserId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdvcloud.rochecloud.domain.BtvDepartment">
    insert into btv_department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        departmentId,
      </if>
      <if test="departmentName != null">
        departmentName,
      </if>
      <if test="regionName != null">
        regionName,
      </if>
      <if test="departmentDescribe != null">
        departmentDescribe,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createUserId != null">
        createUserId,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateUserId != null">
        updateUserId,
      </if>
      <if test="userId != null">
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="departmentDescribe != null">
        #{departmentDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdvcloud.rochecloud.domain.BtvDepartment">
    update btv_department
    <set>
      <if test="departmentName != null">
        departmentName = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null">
        regionName = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="departmentDescribe != null">
        departmentDescribe = #{departmentDescribe,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null">
        createUserId = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        updateUserId = #{updateUserId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where departmentId = #{departmentId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdvcloud.rochecloud.domain.BtvDepartment">
    update btv_department
    set departmentName = #{departmentName,jdbcType=VARCHAR},
      regionName = #{regionName,jdbcType=VARCHAR},
      departmentDescribe = #{departmentDescribe,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createUserId = #{createUserId,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateUserId = #{updateUserId,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=VARCHAR}
    where departmentId = #{departmentId,jdbcType=VARCHAR}
  </update>


  <!--根据loginId查询 -->
  <select id="findDeparmentByUserId" resultMap="BaseResultMap"
          parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from btv_department
    where userId = #{userId,jdbcType=VARCHAR}
  </select>

  <!--按条件查询所有总数 -->
  <select id="countFindAllDepartment" parameterType="com.cdvcloud.rochecloud.common.Pages"
          resultType="java.lang.Integer">
    select count(dept.departmentId) from btv_department dept,btv_user user where  dept.userId = user.userId
    <!--<if test="condition != null">-->
      <!--${condition}-->
    <!--</if>-->
  </select>


  <!--按条件查询所有信息 -->
  <select id="selectFindAllDepartment" resultType="java.util.Map"
          parameterType="com.cdvcloud.rochecloud.common.Pages">
    select dept.*,user.accountName from btv_department dept,btv_user user where  dept.userId = user.userId

      <if test="condition != null">
        ${condition}
      </if>
      and user.deleteStatus = 0
    <if test="order!= null &amp;&amp; orderBy!= null">
      order by ${order} ${orderBy}
    </if>
    <if test="currentNum != null &amp;&amp; numPerPage != null">
      limit #{currentNum}, #{numPerPage}
    </if>
  </select>

</mapper>