<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.BtvUserDepMapper">
  <resultMap id="BaseResultMap" type="com.cdvcloud.rochecloud.domain.BtvUserDep">
    <id column="userDeptId" jdbcType="VARCHAR" property="userDeptId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="departmentId" jdbcType="VARCHAR" property="departmentId" />
  </resultMap>
  <sql id="Base_Column_List">
    userDeptId, userId, departmentId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from btv_user_dep
    where userDeptId = #{userDeptId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from btv_user_dep
    where userDeptId = #{userDeptId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdvcloud.rochecloud.domain.BtvUserDep">
    insert into btv_user_dep (userDeptId, userId, departmentId
      )
    values (#{userDeptId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdvcloud.rochecloud.domain.BtvUserDep">
    insert into btv_user_dep
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDeptId != null">
        userDeptId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="departmentId != null">
        departmentId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDeptId != null">
        #{userDeptId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdvcloud.rochecloud.domain.BtvUserDep">
    update btv_user_dep
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        departmentId = #{departmentId,jdbcType=VARCHAR},
      </if>
    </set>
    where userDeptId = #{userDeptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdvcloud.rochecloud.domain.BtvUserDep">
    update btv_user_dep
    set userId = #{userId,jdbcType=VARCHAR},
      departmentId = #{departmentId,jdbcType=VARCHAR}
    where userDeptId = #{userDeptId,jdbcType=VARCHAR}
  </update>
</mapper>