<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.BtvUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.cdvcloud.rochecloud.domain.BtvUserRole">
    <id column="userRoleId" jdbcType="VARCHAR" property="userRoleId" />
    <result column="userId" jdbcType="VARCHAR" property="userId" />
    <result column="roleId" jdbcType="VARCHAR" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    userRoleId, userId, roleId
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from btv_user_role
    where userRoleId = #{userRoleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from btv_user_role
    where userRoleId = #{userRoleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cdvcloud.rochecloud.domain.BtvUserRole">
    insert into btv_user_role (userRoleId, userId, roleId
      )
    values (#{userRoleId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdvcloud.rochecloud.domain.BtvUserRole">
    insert into btv_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userRoleId != null">
        userRoleId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="roleId != null">
        roleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userRoleId != null">
        #{userRoleId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdvcloud.rochecloud.domain.BtvUserRole">
    update btv_user_role
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        roleId = #{roleId,jdbcType=VARCHAR},
      </if>
    </set>
    where userRoleId = #{userRoleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdvcloud.rochecloud.domain.BtvUserRole">
    update btv_user_role
    set userId = #{userId,jdbcType=VARCHAR},
      roleId = #{roleId,jdbcType=VARCHAR}
    where userRoleId = #{userRoleId,jdbcType=VARCHAR}
  </update>
</mapper>