<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.TicketTokenMapper">
  <resultMap id="TicketTokenMap" type="com.cdvcloud.rochecloud.domain.wechar.TicketTokenM">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ticket" jdbcType="VARCHAR" property="accessToken" />
    <result column="expiresIn" jdbcType="INTEGER" property="expiresIn" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="hours" jdbcType="INTEGER" property="hours" />
    <result column="productId" jdbcType="VARCHAR" property="productId" />
  </resultMap>
  
  <select id="findTicketTokenM" parameterType="java.lang.String" resultMap="TicketTokenMap">
    select 
    *
    from wechat_ticket
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="addTicketTokenM" parameterType="com.cdvcloud.rochecloud.wechar.TicketTokenM">
    insert into wechat_ticket (id, ticket, expiresIn, 
      createTime, hours, productId)
    values (#{id,jdbcType=VARCHAR}, #{ticket,jdbcType=VARCHAR}, #{expiresIn,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{hours,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateTicketTokenM" parameterType="com.cdvcloud.rochecloud.domain.wechar.TicketTokenM">
    update wechat_ticket
    <set>
      <if test="accessToken != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expiresIn = #{expiresIn,jdbcType=INTEGER},
      </if>
      <if test="hours != null">
        hours = #{hours,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>