/* �������?����֮�� www.lanrenzhijia.com */
* {
	margin:0;
	padding:0;
	list-style-type:none;
}


.Hidden {
	display:none;
}
.Clearer {
	display:block;
	clear:both;
	font-size:1px;
	line-height:1px;
	margin:0;
	padding:0;
}
.FlLeft {
	float:left;
}
.FlRight {
	float:right;
}

		.uploadify-queue-item{
			display:none;
		}
		/**����ͼdivչʾ����ʽ**/
		.uploadify-div{
			margin-top:10px;
			margin-left:20px;
			width:240px;
			height:180px;
		}
		/**����ͼdiv��img��չʾ����ʽ**/
		.uploadify-div img{
			max-width:240px;
			max-height:180px;
		}
		/**����ͼdiv��img�ĵ���**/
		.markImg-opacity{
			opacity:0.3;filter:alpha(opacity=30)
		}
		/**����ͼdiv���ɰ�**/
		.mark-loaddingimage{
			position:absolute;
			z-index:1;
			opacity:0.6;
			filter:alpha(opacity=60);
			background-color:black;
			color:#ffffff;
			font-size:35px;
			font-weight:bold;
			display:none;
			text-align:center;
		}
		
		/**����ͼdiv��img�ĵ���**/
		.posterImg-opacity{
			opacity:0.3;filter:alpha(opacity=30)
		}
		/**����ͼdiv���ɰ�**/
		.poster-loaddingimage{
			position:absolute;
			z-index:1;
			opacity:0.6;
			filter:alpha(opacity=60);
			background-color:black;
			color:#ffffff;
			font-size:35px;
			font-weight:bold;
			display:none;
			text-align:center;
		}
		
		label {display: inline;}
		
		.thumbnailcss .uploadify{
			margin-left:20px;
			float: left;
		}
		/**�������ϴ���ť����ʽ**/
		.postercss .uploadify{
			margin-left:30px;
			margin-bottom:10px;
		}
		/**����������ť����ʽ**/
		.poster_left{
			margin-top:90px;
			margin-right:10px;
			cursor:pointer;
		}
		/**���������Ұ�ť����ʽ**/
		.poster_right{
			margin-top:90px;
			margin-left:10px;
			cursor:pointer;
		}
		/**������li����ʽ**/
		.jCarouselLite li{
			position:relative;
			width:200px;
			height:240px;
			line-height:240px;
			text-align:center;
		}
		/**������li����ʽ**/
		.jCarouselLite li .divindiv{
			position:absolute;
			cursor: pointer;
			width:20px;
			height:20px;
			display:none;
			z-index:2;
			background-image:url("../../../images/close.png");
			
		}
		/**��������ͼƬ����ʽ**/
		.jCarouselLite img{
			margin: 0px 4px;
			width:200px;
			max-height:240px
		}
		/**Ϊ��input�����ʾ2�кÿ��ĵ�bootstarp����ʽ**/
		.form-horizontal .control-label{
			width:80px;
		}
		.form-horizontal .controls{
			margin-left:100px;
		}
		
		.form-horizontal .controls input[type="checkbox"]{
			margin-left:10px;
			height:35px;
		}  
	/**
	  *����Ϊѡ���ز����������ʽ
	*/
	.stat_class{overflow:hidden;height:40px;margin:1% 0;}
	.stat_class ul{float:left; border:1px dashed #ccc;width:60%;margin:0 0 10px 0;border-radius:5px;padding:0 0 0 2%;background:#EFEFEF}
	.stat_class ul li{float:left;line-height:40px;height:35px;width:17%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:0 0 0 2%;}
	.stat_class ul li.active{width:5%;}
	.stat_class span{line-height:40px;height:35px;margin-left:40px;}
	/**
	  *���ͨ���б�Ϊѡ���ز����������ʽ
	*/
	.stat_class_dialog{overflow:hidden;height:40px;margin-left:5px;}
	.stat_class_dialog ul{float:left; border:1px dashed #ccc;width:75%;margin:0 0 10px 0;border-radius:5px;padding:0 0 0 2%;background:#EFEFEF}
	.stat_class_dialog ul li{float:left;line-height:40px;height:35px;width:17%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;padding:0 0 0 2%;}
	.stat_class_dialog ul li.active{width:5%;}
	.stat_class_dialog span{line-height:40px;height:35px;margin-left:10px;}

