<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdvcloud.rochecloud.mapper.AccessTokenMapper">
  <resultMap id="AccessTokenMap" type="com.cdvcloud.rochecloud.domain.wechar.AccessTokenM">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="accessToken" jdbcType="VARCHAR" property="accessToken" />
    <result column="expiresIn" jdbcType="INTEGER" property="expiresIn" />
    <result column="createTime" jdbcType="VARCHAR" property="createTime" />
    <result column="hours" jdbcType="INTEGER" property="hours" />
    <result column="productId" jdbcType="VARCHAR" property="productId" />
  </resultMap>
  
  <select id="findAccessTokenM" parameterType="java.lang.String" resultMap="AccessTokenMap">
    select 
    *
    from wechat_accesstoken
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="addAccessTokenM" parameterType="com.cdvcloud.rochecloud.domain.wechar.AccessTokenM">
    insert into wechat_accesstoken (id, accessToken, expiresIn, 
      createTime, hours, productId)
    values (#{id,jdbcType=VARCHAR}, #{accessToken,jdbcType=VARCHAR}, #{expiresIn,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{hours,jdbcType=INTEGER}, #{productId,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="updateAccessTokenM" parameterType="com.cdvcloud.rochecloud.domain.wechar.AccessTokenM">
    update wechat_accesstoken
    <set>
      <if test="accessToken != null">
        accessToken = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="expiresIn != null">
        expiresIn = #{expiresIn,jdbcType=VARCHAR},
      </if>
      <if test="hours != null">
        hours = #{hours,jdbcType=VARCHAR},
      </if>
      <if test="productId != null">
        productId = #{productId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>