
/* 效果CSS开始 */
#zsgun{ background:#FFFFFF; position:relative;height:230px; width:1000px; margin:auto;}
a.hScrollPane_leftarrow{top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../../images/pictureScoller/zsleftbar.gif) no-repeat left top;left:15px; position:absolute;}
a.hScrollPane_leftarrow:hover{background:url(../../images/pictureScoller/zsleftbar.gif) no-repeat left -61px;}
a.hScrollPane_rightarrow{ top:70px; cursor:pointer; display:block; width:25px; height:58px; background:url(../../images/pictureScoller/zsrightbar.gif) no-repeat left top; right:15px; position:absolute;}
a.hScrollPane_rightarrow:hover{background:url(../../images/pictureScoller/zsrightbar.gif) no-repeat left -61px;}
.hScrollPane_dragbar{width:843px; position: absolute; border-bottom:#1F9DE2 1px solid; left:15px; top:220px; z-index:1; padding:0 39px;}
.hScrollPane_draghandle{position:absolute; width:180px; height:10px; overflow:hidden; background:url(../../images/pictureScoller/gunbar.png) no-repeat left top;_background:url(../../images/pictureScoller/gunbar.gif) no-repeat left top; bottom:-5px; cursor:pointer; margin:0 39px; left:0;}
#gundiv{ width:843px; position:relative; margin-left:55px; /*padding-top:22px;*/ float:left; display:inline;height:200px; overflow:hidden;}
#gundiv ul {height:155px;position: absolute; width:10000px;}
#gundiv li{ text-align:center; overflow:hidden; float:left; margin-right:17px;position:relative; border: 1px solid #efefef;}
/*#gundiv li p{ display:none; height:18px; line-height:18px; text-align:center; overflow:hidden;}
#gundiv li p a:link,#gundiv li p a:visited{ color: #53711C; font-size: 12px; }
#gundiv li.zslion p{ display:block;}*/
/* 效果CSS结束 */

.clear { clear:both;}
#pictureLst li {position:relative;}
.tan { width:140px; background:rgba(0,0,0,0.5); height:26px;line-height:26px; position:absolute; left:5px; bottom:-5px; display: none;}
.tan a { color:#FFF; font-size:12px; padding:0 5px; border-left:1px solid #FFF;}
.tan a:nth-child(1) {border:none;}
.deletePic { width:25px; /*background:rgba(0,0,0,0.5);*/ height:26px;line-height:26px; position:absolute; right:13px; bottom:162px; display: none;}
.deletePic a { color:#FFF; font-size:22px; padding:0 9px; border-left:1px solid #FFF;}
.deletePic a:nth-child(1) {border:none;}
.poster { position:absolute; top:0; left:0;display:block;width:38px;height:38px; background:url("../../images/pictureScoller/poster.png") no-repeat left top;}
.thumb { position:absolute; top:0; left:0;display:block;width:38px;height:38px; background:url("../../images/pictureScoller/thumb.png") no-repeat left top;}
.all_pic { position:absolute; top:0; left:0;display:block;width:61px;height:61px; background:url("../../images/pictureScoller/thumbPoster.png") no-repeat left top;}