@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; font-family:Microsoft YaHei;}
ul,li { list-style:none;}
img { display:block;border:none;}
a { text-decoration:none;outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0; }
.clear { clear:both;}
.fl { float:left;}
.fr { float:right;}
.hide { display:none;}


.footer { width:100%; padding-top:100px;}
.footer p { text-align:center; font-size:12px; color:#FFF;}


/*入口页*/
.xh_enter_wrap { position:relative; /* background-image:url(../images/enter_bg.jpg); */ background-repeat:no-repeat; background-position:center top; background-size:100% 100%; min-height:620px; overflow:auto;}
.xh_title { /* background:#d93024; */ height:110px; padding-top:34px; min-width:760px;}
.xh_title_inner { width:74%; margin:0 auto; min-width:760px; max-width:1200px;}
.xh_enter_inner { width:74%; margin:0 auto;}



body{ 
margin: 0; 
font-size: 12px; 
line-height: 100%; 
font-family: Arial, sans-serif; 
} 

.footer { font-size:12px; color:#adadad; text-align:center; margin-bottom:20px; height:16px;}



/*错误页面*/
.error_div { width:900px; margin:0 auto;}
.error_right { margin-right:20px;}
.error_right .return_btn { display:block; width:160px; height:48px; border:1px solid #d93024; color:#d93024; border-radius:4px; text-align:center; line-height:48px; font-size:24px; margin:80px 0 0 30px;}
.error_right .return_btn:hover { background:#d93024; color:#FFF;}