@charset "utf-8";
/* CSS Document */

* { margin:0; padding:0; font-family:"微软雅黑";}
.clear { clear:both;}
img { display:block;}
a { text-decoration:none;}
ul { list-style:none;}


/*首页*/
.header { width:100%; background:url(../images/bg.jpg) no-repeat center top; padding-bottom:12px;}
.headerinner { width:1000px; margin:0 auto;}
.logo { padding:30px 0 26px; float:left;}
.search { float:left; padding-top:52px; margin-left:366px; position: relative;}
.search input { width:242px; height:32px; border:2px solid #cccccc; padding:0 30px 0 10px; color:#aaaaaa; background:url(../images/search_03.png) no-repeat right top; background-color:#ffffff; font-size:14px;}
.content { width:998px; margin:0 auto; border:1px solid #e5e5e5; clear:both; padding-bottom:30px;min-height:500px;}
.nav { background:url(../images/nav_bg_15.jpg) repeat-x left top; padding:0 8px;height:60px;}
.nav ul { float:left;}
.nav ul li { float:left; background:url(../images/li_bg_21.jpg) no-repeat right 20px; padding:14px 21px 8px; font-size:16px; font-weight:bold;}
.click { background:url(../images/a_bg_21.png) no-repeat left top;}
.nav ul li a { display:block; width:85px; height:36px; text-align:center; color:#FFF; padding-top:3px;}
.a_login { display:block; width:32px; padding:8px 24px; background:#d21a22; color:#FFF; float:right; margin:14px 8px 0 0;}
.username { font-size:16px; color:#FFF; float:right; margin:20px 8px 0 0;}
.username a { color:#FFF;}
.main { padding:4px 4px 18px 4px; clear:both; display: table;min-height: 400px;}
.film { float:left; width:235px; background:#f5f5f5; margin:10px 0 0 10px; padding-bottom:12px;}
.film h3 { font-size:16px; color:#000; padding:14px 0 0 15px;}
.film p { font-size:14px; color:#666666; padding-left:15px; margin-top:4px; clear:both;}
.left { float:left;}
.film .right { float:right; color:#FFF; width:24px; padding:1px 10px; font-size:12px; background:#ff9933; margin:6px 15px 0 0;}
.pic { position:relative;}
.new { position:absolute; left:0; top:0;}
.qing { position:absolute; right:0; bottom:0; background:#000; opacity:0.5; color:#FFF!important; padding:3px 4px!important; width:24px; font-size:12px!important;}
.page { width:930px; border:1px solid #c8c8c8; clear:both; padding:0 20px; margin:0 14px; background:url(../images/page_bg_85.jpg) repeat-x left top;}
.page ul li { float:left;}
.page ul li a { height:46px; line-height:46px; padding:0 16px; font-size:16px; color:#999999;}
.shang { margin-right:125px;}
.xia { float:right!important; margin-left:125px;}
.this { border-left:1px solid #c8c8c8; border-right:1px solid #c8c8c8; background:#fbfbfb;}
.this a { color:#38a42f!important;}
.footer { padding:32px 0 36px;}
.footer p { text-align:center; height:21px; line-height:21px; margin:0 auto; font-size:12px; background:url(../images/onair_108.png) no-repeat left top; width:600px; color:#888888;}
.footer img { display:inline-block;}
.login { position:fixed; top:0; left:0; width:100%; background:url(../images/login_bg_01.png) repeat left top; display:none;}
.downUrl { position:fixed; top:0; left:0; width:100%; background:url(../images/login_bg_01.png) repeat left top; display:none;}
.logininner { opacity:1; width:610px; border:1px solid #cac9ca; margin:160px auto; background:#FFF;}
.logininner h1 { background:#a6d3f6; font-size:24px; height:56px; line-height:56px; color:#FFF; font-weight:normal; text-align:center;}
.logininner form { padding:46px 0 100px 100px; font-size:14px;}
.logininner form p { color:#555555; margin-bottom:20px;}
.logininner form .pwd { margin-bottom:50px;}
.logininner form input { width:304px; height:38px; border:1px solid #d5d5d5; background:#f5f5f5; margin-left:16px;padding-left:10px;}
.logininner form a { display:block; width:30px; height:36px; line-height:36px; padding:0 40px 0 56px; font-size:14px; float:left; color:#FFF;}
.logininner form a.yes { background:url(../images/yes_03.png) no-repeat 32px center; background-color:#ff9933; margin:0 40px 0 70px;}
.logininner form a.no { background:url(../images/no_03.png) no-repeat 32px center; background-color:#cccccc;}
.noDownUrl { background:url(../images/no_03.png) no-repeat 32px center; background-color:#cccccc;display:block; width:30px; height:36px; line-height:36px; padding:0 40px 0 56px; font-size:14px; color:#FFF;}

/*下载页*/
.nav p {padding:20px 21px; font-size:16px; font-weight:bold;}
.contentinner { padding:0 14px;}
.about { padding:20px 0;}
.about div { float:left;}
.about .right { margin-left:28px;}
.about .right p { font-size:14px; color:#777777; width:504px; line-height:1.7em;}
.page p,.zai p { height:30px; line-height:30px; font-size:24px; color:#000; float:left;}
.page p span { font-size:16px; color:#888888;}
.page input,.zai input { margin-right:14px;}
.page .ji,.zai .ji { font-size:14px; margin:0 20px 0 530px;}
.page p i,.zai p i { color:#a00000; font-style:normal;}
.juji { padding:27px 0 10px;}
.juji a { background:#e5e5e5; width:70px; height:30px; line-height:30px; padding:0 14px; color:#333333; margin-left:15px;}
.juji a.xuan { background:#73baf2; color:#FFF;}
.zai { padding:5px 0 5px 20px; border-bottom:1px dotted #dddddd;}
.zai:last-child { border-bottom:none;}
.zai .more { font-size:12px; color:#656565; height:20px; line-height:20px; padding-left:10px;}
.zai .ji { margin:0 20px 0 10px; padding-top: 5px;}

/**ajax页面请求的模板**/
.ajax_background {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.4;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
.ajax_background_inner{
	background: url("../images/progressBar_m.gif");
	display: none;
	width:25px;
	height:25px;
	position:fixed;
	left:50%;
	top:50%;
	z-index: 2001;
}
/**ajax页面请求的模板**/


