.item_img img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.about_msg> li {
    width: 25%;
}

.about_msg {
    margin-bottom: 5px;
}

.message_gro {
    width: 80%;
    width: -moz-calc(100% - (100px));
    width: -webkit-calc(100% - (100px));
    width: calc(100% - (100px));
}

.reply_msg li {
    line-height: 1.8;
    word-break: break-all;
}

.quick_replay {
    font-size: 18px;
    cursor: pointer;
    text-align: right;
}
.quick_replay img{
    height: 16px;
    vertical-align: 0px;
    margin: 0 10px;
    display: inline-block;
}
.reply_msg {
    margin: 10px 0 0 58px;
    color: #8d8d8d;
}

.message_item {
    min-height: 46px;
    border: 1px solid #e7e7eb;
    padding: 15px 20px;
    margin-bottom: 20px
}

.quick_reply_box {
    display: none;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    background-color: #fff;
    /*padding-left: 80px;
    padding-top: 6px;
    padding-right: 40px*/
    padding: 13px 57px 0 57px;
}

.quick_reply_box .frm_label {
    display: block;
    padding-bottom: 8px;
    float: none
}

.qqFace {
    margin-top: 4px;
    background: #fff;
    padding: 2px;
    border: 1px #dfe6f6 solid;
}

.replying .quick_reply_box {
    display: block
}

.red {
    color: #dd5a43;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-family: Constantia, Georgia;
}

.emotion_editor {
    position: relative;
    z-index: 1;
    border: 1px solid #e7e7eb;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%;
}

.emotion_editor .edit_area {
    padding: 14px 20px;
    outline: 0;
    word-wrap: break-word;
    word-break: break-all;
    border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    background-color: #fff;
    height: 188px;
    border: none;
    resize: none;
    width: 90%;
    font-size: 16px;
    color: #222;
}

.icon18_common {
    width: 20px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    line-height: 100px;
    overflow: hidden;
}

.icon18_common.star_gray {
    background: url("../../images/userMessage/icon1.png") 0 -5058px no-repeat;
}

.icon18_common.star_gray:hover {
    background: url("../../images/userMessage/icon1.png") 0 -5086px no-repeat;
}

.icon18_common.reply_gray {
    background: url("../../images/userMessage/icon1.png") 0 -5002px no-repeat;
}

.icon18_common.reply_gray:hover {
    background: url("../../images/userMessage/icon1.png") 0 -5030px no-repeat;
}

.icon18_common.reply_mes {
    background: url("../../images/userMessage/ping2.png") no-repeat;
}

.icon18_common.reply_mes:hover {
    background: url("../../images/userMessage/ping.png") no-repeat;
}

.emotion_switch {
    float: left;
    margin-top: 8px;
    height: 28px;
    line-height: 999em;
    overflow: hidden;
}

.icon_emotion.emotion_switch {
    background: url(../img/icon2.png)no-repeat;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.icon_emotion.emotion_switch:hover {
    background: url(../img/icon2.png) 0 -30px no-repeat;
}

.editor_tip {
    float: right;
    color: #8d8d8d;
}

.editor_toolbar {
    padding: 0 20px;
    line-height: 36px;
    background-color: #fff;
    border-top: 1px solid #e7e7eb;
    display: block;
    overflow: hidden;
}

.quick_reply_box_tool_bar {
    padding: 14px 0 20px;
    text-align: right;
}

.btn1_primary {
    background-color: #44b549;
    background-image: -moz-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b549), to(#44b549));
    background-image: -webkit-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -o-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: linear-gradient(to bottom, #44b549 0, #44b549 100%);
    border-color: #44b549;
    color: #fff;
}

.btn1_primary:hover {
    background-color: #2f9833;
    background-image: -moz-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f9833), to(#2f9833));
    background-image: -webkit-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: -o-linear-gradient(top, #2f9833 0, #2f9833 100%);
    background-image: linear-gradient(to bottom, #2f9833 0, #2f9833 100%);
    border-color: #2f9833;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #fff
}

.btn1 {
    display: inline-block;
    overflow: visible;
    padding: 0 22px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}

.btn1 button {
    display: block;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    /*padding: 0 22px;*/
}

.btn1_primary button {
    color: #fff;
    cursor: pointer;
}

.btn1.btn1_input button {
    width: 100%;
    position: relative;
}

.btn1_default {
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff 0, #fff 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff 0, #fff 100%);
    background-image: -o-linear-gradient(top, #fff 0, #fff 100%);
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
}

.btn1_default:hover {
    background-color: #e7e7eb;
    background-image: -moz-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e7e7eb), to(#e7e7eb));
    background-image: -webkit-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
    background-image: -o-linear-gradient(top, #e7e7eb 0, #e7e7eb 100%);
    background-image: linear-gradient(to bottom, #e7e7eb 0, #e7e7eb 100%);
    border-color: #dadbe0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #000
}
.word{
    color: #dd5a43 ;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    font-family: Constantia, Georgia;
}
.message_status{
    color: #3C9F35;
}
.m_table_div{
    border: none;
}

.lawyer_list{
    padding: 40px;
    width: 500px;
    margin: 0 auto;
}
.lawyer_details{
    display: flex;
    background: #fff;
    margin-bottom: 10px;
}
.lawyer_head {
    width: 110px;
    height: 110px;
    background: #ccc;
    flex: 0 0 auto;
}
.lawyer_head img{
    width: 100%;
    height: 100%;
}
.lawyer_introduce{
    flex: 1 1 auto;
    padding: 8px;
}
.lawyer_introduce h2{
    margin-top: 10px;
    font-size: 14px;
}
.submit_card{
    width: 60px;
    height: 22px;
    line-height: 20px;
    background: #2e9ef7;
    padding: 0;
    color: #fff;
    font-size: 12px;
}
.referenceMaterial_alert{
    width: 600px;
    padding-bottom: 50px;
}
.lawyer_card{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    background: #e5e5e5;
}
.lawyer_card .lawyer_details{
    background: #e5e5e5;
    margin-bottom: 0;
    color: #333;
}
.lawyer_card .lawyer_head{
    width: 70px;
    height: 70px;
}
.lawyer_card .lawyer_introduce{
    padding: 0 8px;
}
